body {
  font-family: "Raleway", sans-serif;
  background-repeat: no-repeat;
  background-size: cover; }

h1 {
  font-size: 6.5rem;
  color: white; }

h2 {
  font-size: 3.5rem;
  color: white; }

h3 {
  padding-top: 10px;
  padding-left: 15px; }

h5 {
  color: black; }

::placeholder {
  color: #999; }

.nav a {
  color: #1d89ff; }

.branding {
  margin-top: 10px;
  color: white;
  font-size: 12px; }
  .branding p a {
    color: white; }
  .branding img {
    max-width: 36px;
    float: left;
    margin-right: 10px; }

.pictureCredits {
  position: fixed;
  bottom: 0px;
  color: white;
  font-size: 12px; }

.thanks a {
  color: white; }

.user {
  text-align: right;
  margin-top: 10px; }

.user img {
  max-width: 33px;
  float: right;
  border-radius: 100%; }

.timeDateWeather {
  text-align: center;
  color: white;
  vertical-align: middle; }

.tool {
  background-color: white;
  color: black;
  position: fixed;
  bottom: 0px;
  height: 80%;
  width: 22%;
  text-align: left;
  border-radius: 5px 5px 0px 0px;
  padding-left: 0px;
  padding-top: 10px;
  overflow-x: auto; }

.active {
  color: #1d89ff; }

.addTask {
  color: black;
  margin-left: 45px;
  margin-top: 10px;
  padding-left: 15px; }

.field {
  height: 34px;
  border: 1px solid #1d89ff;
  border-right-width: 0px;
  width: 75%; }

li {
  color: black; }

ul {
  padding-left: 0px; }

.task {
  border-radius: 0px;
  border-width: 0px 0px 1px; }

input[type="checkbox"] {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 3px solid #1d89ff;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin: 0px 10px 0px 5px; }

input[type="checkbox"]:checked {
  background-color: #1d89ff; }

#fixedBottom {
  text-transform: uppercase;
  position: fixed;
  bottom: 0px; }

.accessTools {
  margin-top: 100px;
  text-align: right; }

.shortcut {
  margin-bottom: 20px;
  color: white; }

.svg-inline--fa:active {
  color: #1d89ff; }

.date,
.temperature {
  display: inline; }

#closeNewCommentModal {
  position: fixed;
  right: 10px;
  top: 10px;
  color: white;
  z-index: 1; }

.commentSection {
  background-color: #ecf0f1;
  height: calc(100vh - 95px);
  overflow: auto; }

.details {
  background-color: #2980b9;
  color: white;
  position: fixed;
  right: 0px;
  height: 100%;
  padding: 30px; }
  .details .row div svg {
    float: left;
    margin-right: 10px; }

hr {
  border: 1px solid white; }

.comment {
  margin-top: 10px;
  overflow: auto; }

.avatarComment {
  width: 100%;
  border-radius: 100%; }

.commentBody {
  margin-bottom: 0px; }

.timeStamp {
  margin-top: 0px;
  font-size: 12px; }

.bubble {
  background-color: white;
  border-radius: 10px; }
  .bubble p {
    padding: 15px;
    margin: 0px; }
  .bubble img {
    padding: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-with: 125px;
    max-width: 100%; }

.picComment {
  padding: 0px;
  width: 100%; }

.favicon {
  float: left; }
  .favicon img {
    max-height: 100%;
    max-width: 100%;
    border-bottom-left-radius: 10px; }

.linkPreview {
  background-color: lightgrey;
  position: relative;
  left: -15px; }

.linkTitle {
  margin-bottom: 0px; }

.newComment {
  background-color: white;
  width: 66.65%;
  position: fixed;
  z-index: 1;
  bottom: 0px;
  left: 0px;
  padding: 5px; }
  .newComment div #addComment {
    position: relative;
    top: 15px; }
    .newComment div #addComment svg {
      color: white;
      margin-left: 0px; }
  .newComment div #testGif {
    position: relative;
    top: 15px;
    display: none; }
    .newComment div #testGif svg {
      color: white;
      margin-left: 0px; }
  .newComment div #addGif {
    position: relative;
    top: 15px;
    display: none; }
    .newComment div #addGif svg {
      color: white;
      margin-left: 0px; }
  .newComment svg {
    color: black; }

.newCommentInput {
  width: 90%;
  height: 36px;
  border-style: hidden;
  padding-left: 20px;
  margin-bottom: 10px; }

#message-giphy {
  width: 80%; }

.newCommentInput:focus {
  outline: -webkit-focus-ring-color auto 0px; }

.details div h1 {
  font-size: 40px; }

.signup__container {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 33rem;
  border-radius: 0.1875rem;
  box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25); }
  .signup__container .container__child {
    width: 50%;
    height: 100%;
    color: #fff; }
  .signup__container .signup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); }

.signup__thumbnail {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url(https://images.unsplash.com/photo-1491555103944-7c647fd857e6);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.thumbnail__logo,
.thumbnail__content,
.thumbnail__links {
  position: relative;
  z-index: 2; }

.thumbnail__logo {
  align-self: flex-start; }

.logoText {
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  vertical-align: bottom;
  cursor: default; }

.thumbnail__content {
  align-self: center; }

.heading--primary {
  font-size: 1.999rem; }

.heading--secondary {
  font-size: 1.414rem; }

.thumbnail__links {
  align-self: flex-end;
  width: 100%; }
  .thumbnail__links a {
    font-size: 1rem;
    color: #fff; }

.signup__form {
  padding: 2.5rem;
  background: #fafafa; }

label {
  font-size: .85rem;
  text-transform: uppercase;
  color: #1d89ff; }

.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0; }

.form-control:focus {
  border-color: #111; }

.signin__link,
.signup__link {
  font-size: .8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #999; }

#signIn {
  display: none; }

#signin {
  margin-top: 10px; }

/*# sourceMappingURL=style.css.map */
