* {
    font-family: 'Raleway', sans-serif;
}



body{
      background-color: #f7f7f7;
}

.content {
    margin: 5%;
    padding: 2%;
    background-color: white;
    border-style: solid;
    border-color: #e3e3e3;
    border-width: thin;
}

a {
    color: black;
}

header {
    margin: 20px;
    text-align:center;
    display: inline;
}

fa {
    color: #1d89ff;
}

fa:hover {
    color: white;
}


.top { }

.task-input {
    margin-left: 15px;
}

.outer {
    margin-top: 10px;
    border: solid grey;
    border-width: 1px 0px;
    padding: 5px;
}

input[type="checkbox"] {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 3px solid #fff;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin:0px 10px 0px 5px;
}

.list-group-item:first-child {
    border-top-left-radius: .0rem;
    border-top-right-radius: .0rem;
}

input[type="checkbox"]:checked {
    background-color: #1d89ff;
}

.taskList {
    margin: 10px;
    z-index: 1;
}

.taskList p {
    margin: 5px;
    padding-left:5px;
}

.taskList p {
    background-color: #1d89ff;
    color: white;
}

.field {
    height: 34px;
    border: 1px solid #1d89ff;
    border-right-width: 0px;
}

.checkbox {
    margin-right: 10px;
}

.red {
    border: solid 1px red;
}

footer {
    margin: 20px;
}

.btn-link {
    color: white;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: none;
}

.btn.focus, .btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0px rgba(2,117,216,.25);
    box-shadow: 0 0 0 0px rgba(2,117,216,.25); 
    text-decoration: none;
}

.taskSeparator {
    width: 30%;
    margin-left: 0px;
}

.gif {
    display: block;
    margin-bottom: 5px;
    max-height: 150px;
}
