# mongo files
server/data/local.0
server/data/local.ns
server/data/mongod.loc
server/data/mongod.lock
server/data/my_database.0
server/data/my_database.ns
server/data/tasks.0
server/data/tasks.ns
server/data/mongod.lock
server/data/
server/mongod

# security reasons
notes.md
server/keys/

# package
node_modules
package-lock.json

# misc
yarn-error.log
