notes.md
data/local.0
data/local.ns
data/mongod.loc
data/mongod.lock
data/my_database.0
data/my_database.ns
data/tasks.0
data/tasks.ns
data/mongod.lock
data/
keys/
mongod
upload/
awsCredentials.json
client/bower_components
node_modules
package-lock.json
emailTemplates/htmlRender