* {
    font-family: 'Raleway', sans-serif;
}

header{
    margin:20px;
}

.top {
    display: inline
}

.task-input {
    margin-left:15px;
}

.tasks-list {
    margin:10px;
}

.tasks-list p {
    margin:5px;
}

.tasks-list p:nth-child(even) {
    background-color: #1d89ff;
    color: white;
}

.tasks-list p:nth-child(odd) {
    background-color: #d6e3ff;
}

.field{
    height: 34px;
    border: 1px solid #1d89ff;
    border-right-width: 0px;
}

.checkbox{
    margin-right: 10px;
}

.red {
    border: solid 1px red;
}

footer {
    margin:20px;
}