* {
    font-family: 'Raleway', sans-serif;
}



body{
      background-color: #f7f7f7;
}

.content {
    margin: 5%;
    padding: 2%;
    background-color: white;
    border-style: solid;
    border-color: #e3e3e3;
    border-width: thin;
}

a {
    color: black;
}

header {
    margin: 20px;
    text-align:center;
    display: inline;
}

fa {
    color: #1d89ff;
}

fa:hover {
    color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #fff #fff #ddd;
    border-bottom-width: 5px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #fff #fff #ddd;
    border-bottom-width: 2px;
}

.top { }

.task-input {
    margin-left: 15px;
}

input[type="checkbox"] {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 3px solid #fff;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin:0px 10px 0px 5px;
}

.list-group-item:first-child {
    border-top-left-radius: .0rem;
    border-top-right-radius: .0rem;
}

input[type="checkbox"]:checked {
    background-color: #1d89ff;
}

.taskList {
    margin: 10px;
    z-index: 1;
}

.taskList p {
    margin: 5px;
    padding-left:5px;
}

.taskList p {
    background-color: #1d89ff;
    color: white;
}

.field {
    height: 34px;
    border: 1px solid #1d89ff;
    border-right-width: 0px;
}

.checkbox {
    margin-right: 10px;
}

.red {
    border: solid 1px red;
}

footer {
    margin: 20px;
}


