body {
	/*background-image: url("https://images.unsplash.com/uploads/1413142095961484763cf/d141726c?auto=format&fit=crop&w=1500&q=80");*/
	font-family: 'Raleway';
	background-repeat: no-repeat;
	background-size: cover;
	
}

h1 {
	font-size: 6.5rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
  padding-top: 10px;
  padding-left: 15px;
}

h1, h2 {
	color:white
}

h5 {
	color: black;
}

a {
	color: white;
}

.nav > a {
	color: #0275d8;
}

.branding {
	margin-top: 10px;
	color: white;
}

.branding > img {
	max-width:42px;
	float: left;
	margin-right: 10px;
}

.pictureCredits {
	position: fixed;
	bottom: 0px;
	color: white;
}

.user {
	text-align: right;
	margin-top:10px;
}

.user > img {
	max-width:33px;
	float: right;
	border-radius: 100%;
}

.timeDateWeather {
	text-align: center;
	color: white;
	vertical-align: middle;
}

.tool {
	background-color: white;
	color: black;
	position: fixed;
	bottom:0px;
	height: 80%;
	width:22%;
	text-align: left;
	border-radius: 5px 5px 0px 0px;
	padding-left: 0px;
	padding-top: 10px;
	overflow-x: auto;
}

.active {
  color: #1d89ff;
}

.addTask {
	color: black;
	margin-left: 45px;
	margin-top:10px;
	padding-left: 15px
}

.field {
    height: 34px;
    border: 1px solid #1d89ff;
    border-right-width: 0px;
}

li {
  color: black;
  border-bottom: solid 1px;
}

ul {
  padding-left: 0px
}

.task {
  border-radius: 0px;
  border-width: 0px 0px 1px;
}

input[type="checkbox"] {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 3px solid #1d89ff;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin:0px 10px 0px 5px;
}

input[type="checkbox"]:checked {
    background-color: #1d89ff;
}

#fixedBottom {
  text-transform: uppercase;
  position: fixed;
  bottom: 0px
}

.accessTools {
	margin-top: 100px;
	text-align:right;
}

.shortcut {
	margin-bottom: 20px;
	color: white;
}

.svg-inline--fa:active {
  color: #1d89ff;
}

.date, .temperature {
	display: inline
}