body {
	background-color: #f9f9f9;
	color: #505458;
	font-family: 'Roboto', sans-serif;
}

.logo {
	max-width: 38px;
}

a{
  text-decoration: none !important;
	-webkit-transition: all 400ms ease-in-out;
	   -moz-transition: all 400ms ease-in-out;
       -o-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out;
}
    
/* BUTTONS */
.btn-custom,.btn-custom:hover,.btn-custom:focus {
  background-color: #43cea2;
  color: #fff !important;
  padding: 9px 20px !important;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.04em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  -webkit-transition: all 400ms ease-in-out;
     -moz-transition: all 400ms ease-in-out;
       -o-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out;
}

/* HELPER CLASSES */
.section {
  padding-top: 100px;
  padding-bottom: 0px;
}

.section-md {
  padding-top: 70px;
  padding-bottom: 70px;
}

.bg-dark {
  background-color: #28282e !important;
}

.text-muted {
  color: #98a6ad;
}

.vertical-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0,0.7);
}

.bg-trans {
  background-color: transparent !important;
}

/* Navbar */
.navbar-default .navbar-nav>li>a {
	font-weight: 700;
	font-size: 16px;
	color: #182433;
	letter-spacing: 0.03em;
	font-family: 'Josefin Sans', sans-serif;
}

.navbar-default .navbar-nav>li>a:hover,.navbar-custom-dark.navbar-default .navbar-nav>li>a {
	color: #43cea2;
}

.navbar-custom {
	background-color: #f2f6fa;
	border: none;
	padding: 10px 0px;
	margin-bottom: 0px;
	border-radius: 0px;
  z-index: 9999;
  -webkit-transition: background-color 1s ease-in-out, border 1s ease-in-out;
     -moz-transition: background-color 1s ease-in-out, border 1s ease-in-out;
       -o-transition: background-color 1s ease-in-out, border 1s ease-in-out;
          transition: background-color 1s ease-in-out, border 1s ease-in-out;
}

.navbar-custom .navbar-brand {
	height: auto;
}

.navbar-custom-dark.navbar-default .navbar-nav>li>a {
	color: #ddd;
}

.navbar-toggle {
  background-color: transparent !important;
  margin-top: 14px;
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #3B4A69;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  color: #43cea2;
}


.nav-alt.navbar-default .navbar-nav>li>a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
}


/* STICKY HEADER */
.sticky-wrapper {
  height: 0px !important;
  z-index: 9999;
}

.is-sticky .navbar-custom{
  background-color: #ffffff !important;
  z-index: 999;
  width: 100%;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
     -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
          box-shadow: 0 2px 2px rgba(0,0,0,.1);
}

.is-sticky .navbar-custom .logo-dark {
  display: block !important;
}

.is-sticky .navbar-custom .logo-white {
  display: none !important;
}

.is-sticky .navbar-custom .navbar-nav li a {
  color: #333;
}

/* Home */
.home {
	background-color: #f2f6fa;
	padding-bottom: 0px;
}

.home-alt h1 {
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 40px;
  line-height: 54px;
}

/* Features */
.features-alt i{
  font-size: 42px;
}

.features-alt h4{
  font-style: italic;
  margin-bottom: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

.features-alt h3{
  margin-top: 5px;
  margin-bottom: 20px;
}

.features-alt p {
  font-size: 15px;
  line-height: 24px;
}

/* Subscribe Form */

.subscribe-form  h3 {
	color: #fff;
	margin: 0px 0px 30px 0px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
}

.subscribe-form form{
  position: relative;
  max-width: 600px;
  margin: 0px auto;
}

.subscribe-form input {
  padding: 15px 20px;
  width: 100%;
  font-size: 17px;
  color: #fff;
  border: none;
  outline: none !important;
  padding-right: 150px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.19);
  border-radius: 30px;
}

.subscribe-form button {
  position: absolute;
  top: 4px;
  right: 4px;
  outline: none !important;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 17px;
  background: #43cea2;
  padding: 11px 30px;
}



/* Footer */
.footer {
	padding: 20px 0px;
}
.copyright {
	color: #a0a0a0;
	margin: 0px;
}

/* RESPONSIVE */

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-custom-dark.navbar-default .navbar-nav>li>a {
    color: #f9f9f9;
  }

  .navbar-custom-dark.navbar-default.sticky .navbar-nav>li>a {
    color: #333;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }

  .navbar-default.sticky .navbar-toggle .icon-bar {
    background-color: #3B4A69;
  }

  .vertical-content {
    display: inherit;
  }

  .features-alt {
    margin: 30px 0px;
    text-align: center;
  }
}